<form
        action="https://formspree.io/f/mrgvjvpw"
        method="POST"
>
    <label>
        Your email:
        <input
                style="border: 1px solid #D3D3D3; border-radius: 4px; padding: 10px;"
                type="email"
                name="email"
        >
    </label>
    <label>
        Subject:
        <input
                style="border: 1px solid #D3D3D3; border-radius: 4px; padding: 10px;"
                type="text"
                name="topic"
        >
    </label>
    <label>
        Message:
        <textarea
                style="border: 1px solid #D3D3D3; border-radius: 4px; padding: 10px;"
                name="message"
        ></textarea>
    </label>
    <!-- your other form fields go here -->
    <button
            style="border: 1px solid #D3D3D3; border-radius: 4px; padding: 10px;"
            type="submit"
    >
        Send
    </button>
</form>
